extends layout

block content
  h2=title
  p Welcome to the world of extraordinary burgers, drinks, and sides. You will get to watch the ocean on our beachfront location while you become honey encrusted or burned on the inside. As you watch the people on the beach as you slowly pass away do to the goodness of the food you are ingesting. Let the food and drink eat away your stressful life and let your sorrows drift away into the ocean never to be seen again.
  link(rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css")
  