doctype html
html
  head
    title HIS PUB
    link(href='style.css', rel='stylesheet')
    link(rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css")
  body
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtGTliukNQw1gr5hKsxqebt8JeerJuSpY&callback=initMap')
    script(src='script.js')
    header
      div(class="logo") 
        p(class="title") HIS PUB
      nav  
          each item in config.titles
              a(href=item[0] class="navButton") #{item[1]}
    div(id='content')
      block content
    
    
    
    footer