doctype html
html
  head
    link(href='style.css', rel='stylesheet')
    link(rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css")
  body
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtGTliukNQw1gr5hKsxqebt8JeerJuSpY&callback=initMap')
    script(src='script.js')
    header
      h1 Hella Increda Sexy Pug Burger!
      nav
        ul  
          each item in config.titles
            li
              a(href=item[0]) #{item[1]}
    div(id='content')
      block content
    
    
    
    footer