extends layout

block content
  h2=title
  p We are located on the beach if you cant find us just keep walking up and down the coast until you smell the sorrows that are leaving the satisfied customers. This is a great place to relax let us all relax in the beach sun.
  div(id='map')