extends layout

block content
  h2=title
  p We are located on the coast of Santa Monica. If you cant find us just keep walking up and down the coast until you smell the sorrows that are leaving the satisfied customers. This is a great place to relax in the beach sun; just be sure to wait after eating before you swim!
  div(id='map')