extends layout

block content
  h2=title
  div(id='sides', class='item')
    each side, index in config.sides
      div(class="card")
        div(class="title")= side[0]
        div(class="description")= side[1]
        img(class='picture',src=side[2])