extends layout

block content
  h2=title
  p The only thing that can make a burger better is a delicious side to go along with it. That's why we pride ourselves in the flavor of all our sides; each one of them pairs incredibly well with the main entree and all are bursting with flavors and seasonings.
  div(id='sides', class='item')
    each side, index in config.sides
      div(class="card")
        div(class="title")= side[0]
        div(class="description")= side[1]
        img(class='picture',src=side[2])