@font-face {
  font-family: "Bungee";
  src: url("fonts/Bungee-Shade.woff");
}

body {
  margin: 0;
}

#map {
  height: 400px;
  margin: 25px;
  background-color: rgba(33, 33, 33, .7);
}

header {
  background-image: url(images/splash.jpg);
  background-position: center;
  text-align: center;
  padding-top: 15px;
}

.title {
  margin: 0;
  color: white;
}

.logo {
  font-family: "Bungee";
  text-align: center;
  font-size: 3em;
  margin-bottom: 15px;
  display: inline-block;
  background-color: rgba(33, 33, 33, .7);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
}

nav {
  text-align: center;
  background-color: #333;
  padding: 10px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.45);
  min-width: 700px;
}

.navButton {
  font-family: "Rales", sans-serif;
  padding: 8px;
  margin: 10px;
  background-color: #555;
  text-decoration: none;
  color: white;
  width: 100px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  transition: font-size .5s;
}

.navButton:hover {
  font-size: 1.2em;
}

#content {
  font-family: "Roboto", sans-serif;
  background-image: url(images/exterior.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px;
  color: white;
  height: 100%;
}

.greetingsText {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  padding: 75px;
  margin: 15%;
  font-size: 1.3em;
  background-color: rgba(33, 33, 33, .7);
  border-radius: 2px;
}

.item {
  text-align: center;
}

.card {
  margin: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  height: 350px;
  width: 350px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #555;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 25px;
  display: inline-block;
}

.card:hover {
  animation-name: moveUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

@keyframes moveUp {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -25px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

img{
  width:200px;
}

.title {
  font-size: 1.4em;
  padding: 5px;
  margin: 5px;
}

.picture {
  margin: 5px;
  background-color: rgba(33, 33, 33, .7);
  padding: 10px;

}

.description {
  margin: 10px;
  padding:10px;

}

.intro {
  background-color: rgba(33, 33, 33, .7);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  padding: 25px;
  margin: 25px;
}
